  
body{
    background-color:#81bed1;
}
#grid-nav{
    display: flex;
    flex-flow: row;
    min-width: 1200px;
    height: 50px;
}
#grid-nav>span{
    display: flex;
    width: 300px;
    text-align: center;
    justify-content: center;
}
#navbarNavAltMarkup>div.navbar-nav{
    display: flex;
    min-width: 900px;
    align-items: center;
    justify-content: space-between;
}
#grid-nav #navbarNavAltMarkup>.navbar-nav>div{
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
}
#grid-nav #navbarNavAltMarkup>.navbar-nav>a{
    display: flex;
    align-items: center;
}
#grid-nav #navbarNavAltMarkup>.navbar-nav>a:hover{
    cursor: pointer;
}

#grid-container{
    background-color:#81bed1;
    display: flex;
    grid-auto-flow: column;
    flex-direction: column;
    align-items: center;
    min-width: 1200px;
    max-width: 100vw;
    min-height: 1000px;
    max-height: 1500px;
}
#search-label{
    text-align: center;
    line-height: 100px;
    font-size:20px;
    height:95px;
    width:300px;
}
#search-container{
    margin-top:2%;
    height:100px;
    width:1200px;
    border-radius:10px;
    border:2px solid #046953;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg);
}
.search-btn{
    width: 150px;
    height: 36px;
    border: none;
    padding: 2px 16px;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
    background: #3c998d;
    color: #fff;
    cursor: pointer;
}
.search-btn:hover {
    background: #046953;
  }
#search-input{
    width:600px;
}
#friendlist{
    margin-top:2%;
    height:500px;
    width:1200px;
    border-radius:10px;
    border:2px solid #046953;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    background-color:white;
}
#suggests{
    margin-top:2%;
    height:300px;
    width:1200px;
    border-radius:10px;
    border:2px solid #046953;
    display: flex;
    flex-direction: column;
    background-color:white;
}
#suggests-label{
    text-align: center;
    margin:0.5% 0.5%;
    height:25px;
    width:200px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaIOiqcCc6b_q1Q-mUZh40ZdLGPUFDupZvTnFpMjwoA225R4wo&s);
}
#suggest-users{
    margin-top:20px;
    height:270px;
    width:1200px; 
    display: flex;
    justify-content: space-evenly;
}
#following-box{
    height:500px;
    width:600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:transparent;
}
#follower-box{
    height:500px;
    width:600px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    background-color:transparent;
}
#following-label{
    margin-left:5%;
    margin-top:5%;
    height:450px;
    width:100px;
    display: flex;
    flex-direction: column;
    font-size: 30px; 
    justify-content: space-evenly;
    text-align: center;
    background-image:url(http://eskipaper.com/images/background-3.jpg);
}
#follower-label{
    margin-left:5%;
    margin-top:5%;
    height:450px;
    width:100px;
    display: flex;
    flex-direction: column;
    font-size: 30px; 
    justify-content: space-evenly;
    text-align: center;
    background-image:url(https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-05.jpg);
}
#following-container{
    margin-top:5%;
    margin-right: 3%;
    height:450px;
    width: 450px;
    display: flex;
    flex-direction: column;
    background-color: #dde2e1;
}
#follower-container{
    margin-top:5%;
    margin-right: 5%;
    height:450px;
    width: 450px;
    display: flex;
    flex-direction: column;
    background-color: #dde2e1;
}

#following-container::-webkit-scrollbar {
    width: 0.5vw;
}
#follower-container::-webkit-scrollbar {
    width: 0.5vw;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px azure; 
    border-radius: 5px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: darkgray; 
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray; 
}

/* Major components */
#grid-container{
    display: flex;
    min-width: 1200px;
    max-width: 100vw;
    min-height: 1000px;
    max-height: 1500px;
}
.friendlist-table{
    text-align: right;
}
.friendbtn{
    width:450px;
}
.su-container{
    height:200px;
    width:200px;
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

