body{
    background-color:#81bed1;
}
.heading {
  font-size: 32px;
}

.login-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color:transparent;
}

.login-container .input {
  margin: 10px 0;
  width: 250px;
  height: 36px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
}
.login-container .login-button{
    margin: 10px 0 20px 20px;
    width: 150px;
    height: 36px;
    border: none;
    padding: 2px 16px;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
    background: #3c998d;
    color: #fff;
    cursor: pointer;
}


.login-container .login-button:hover {
  background: #046953;
}

.login-container .login-button:active {
  background: #046953;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #bbb;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #bbb;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #bbb;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #bbb;
}