/* Custom scroll bar of main page */
::-webkit-scrollbar {
    width: 0.5vw;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px azure; 
    border-radius: 5px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: darkgray; 
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray; 
}

/* Major components */
#grid-container{
    display: flex;
    min-width: 1200px;
    max-width: 100vw;
    min-height: 1000px;
    max-height: 1500px;
}

#grid-nav{
    display: flex;
    flex-flow: row;
    min-width: 1200px;
    height: 50px;
}
#grid-nav>span{
    display: flex;
    width: 300px;
    text-align: center;
    justify-content: center;
}
#navbarNavAltMarkup>div.navbar-nav{
    display: flex;
    min-width: 900px;
    align-items: center;
    justify-content: space-between;
}
#grid-nav #navbarNavAltMarkup>.navbar-nav>div{
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
}
#grid-nav #navbarNavAltMarkup>.navbar-nav>a{
    display: flex;
    align-items: center;
}
#grid-nav #navbarNavAltMarkup>.navbar-nav>a:hover{
    cursor: pointer;
}

#grid-main{
    display: flex;
    width: 800px;
    flex-flow: column;
    overflow-y: scroll;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 1000px;
    margin: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

#grid-sidebar{
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 400px;
    min-height: 1000px;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#grid-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-auto-flow: row;
    min-width: 400px;
    height: 120px;
    justify-content: space-evenly;
}
#grid-user-photo{
    display: flex;
    width: 120px;
    height: 120px;
    object-fit: scale-down;
}

#grid-post{
    display: flex;
    color: white;
    min-width: 400px;
    height: 150px;
    justify-content: center;
    align-items: center;
}
#grid-post>a{
    display: flex;
    justify-self: stretch;
    flex-flow: column;
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 80px;
}
#grid-post>a>i{
    display: flex;
}
#grid-post>a>p{
    display: flex;
    margin: 0px;
}

#grid-friend{
    display: flex;
    flex-flow: column;
    min-width: 400px;
    height: 400px;
}
#grid-friend>div>a{
    font-size: 0.8em;
}

#grid-advice{
    display: flex;
    flex-flow: column;
    min-width: 400px;
    height: 300px;
}
#grid-advice>div>a{
    font-size: 0.8em;
}

/* The CSS on posting window */
#post-title{
    color: black;
    text-align: center;
}

#post-content{
    color: black;
    line-height: 28px;
    min-height: 25vh;
    min-width: 100%;
    text-align: start;
}
.modal-functions{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-start;
}
.modal-functions #imgfinder{
    display: flex;
}
.modal-functions .emoji-finder{
    display: flex;
    color: darkblue;
    text-underline-position: auto;
}
.modal-functions .emoji-finder:hover{
    cursor: pointer;
}
#imgfinder{
    color: darkblue;
    text-underline-position: auto;
}
#imgfinder:hover{
    cursor: pointer;
}

#post-footer{
    color: white;
}

.preview-panel{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}
.preview-title{
    display: flex; 
    padding: 16px;
    min-width: 90%;
    text-align: start;
}
#preview-area{
    display: none;
}
#preview-image{
    display: flex;
    width: 60%;
}
#preview-text{
    display: flex;
    width: 30%;
    min-height: 200px;
    justify-content: flex-start;
    align-items: flex-start;
}

/* The style of the posted items */
.element{
    display:flex;
    flex-flow:column;
    justify-content:space-evenly;
    width:750px;
    margin:30px 25px 30px 25px;
    border:2px ridge gray;
    border-radius:10px;
}
.title{
    display:flex;
    flex-flow:row;
    width:700px;
    margin:10px 25px 10px 25px;
    justify-content:space-evenly;
    align-items: center;
}
.person{
    display:flex;
    flex-flow: row;                        
}
.person-icon{
   display:flex;
    width:50px;
    height:50px;
}
.person-name{
    display: flex;
}
.post-time{
    display:flex;
    font-size:10px;
    color:gray;
}
.content{
    display:flex;
    flex-flow:row;
    width:700px;
    margin:10px 25px 10px 25px;
    justify-content:space-evenly;
}
.content > img{
    display:flex;
    width:60%;
}
.content > p{
    display:flex;
}
.tail{
    display:flex;
    flex-flow:row;
    width:700px;
    height:50px;
    margin:10px 25px 10px 25px;
}
.like{
    display:flex;
    flex-flow:row;
    width:600px;
    justify-content:space-evenly;
    align-items:center;
}
.like-btn{
    display:flex;
    width:100px;
    height:50px;
    justify-content:space-evenly;
    align-items:center;
    border:5px solid gold;
    border-radius:5px;
}
.like-btn:hover{
    cursor: pointer;
    background-color: gold;
}
.comment-btn{
    display:flex;
    width:100px;
    height:50px;
    justify-content:space-evenly;
    align-items:center;
    border:5px solid skyblue;
    border-radius:5px;
}
.comment-btn:hover{
    cursor: pointer;
    background-color: skyblue;
}
.far.fa-thumbs-up{
    display:flex;
    font-size:20px;
    align-items:center;
}
.far.fa-comments{
    display:flex;
    font-size:20px;
    align-items:center;
}
.like-text{
    display:flex;
    font-size:20px;
    align-self:center;
    margin:10px 0px 10px 0px;
}
.comment-text{
    display:flex;
    font-size:20px;
    align-self:center;
    margin:10px 0px 10px 0px;
}
.like-info{
    display:flex;
    width:300px;
    align-items:center;
    justify-content:space-evenly;
}
.like-count{
    display:flex;
    font-size:15px;
    align-items:center;
}
.like-count + p{
    display:flex;             
    font-size:15px;
    align-items:center;
}