/* Custom scroll bar of main page */
::-webkit-scrollbar {
    width: 0.5vw;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px azure; 
    border-radius: 5px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: darkgray; 
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray; 
}

/* Major components */
#grid-container{
    display: flex;
    min-width: 1200px;
    max-width: 100vw;
    min-height: 1000px;
    max-height: 1500px;
    background-color: #d8bd8b;
}

#grid-nav{
    display: flex;
    flex-flow: row;
    min-width: 1200px;
    height: 50px;
}
#grid-nav>span{
    display: flex;
    width: 300px;
    text-align: center;
    justify-content: center;
}
#navbarNavAltMarkup>div.navbar-nav{
    display: flex;
    min-width: 900px;
    align-items: center;
    justify-content: space-between;
}
#grid-nav #navbarNavAltMarkup>.navbar-nav>div{
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
}
#grid-nav #navbarNavAltMarkup>.navbar-nav>a{
    display: flex;
    align-items: center;
}
#grid-nav #navbarNavAltMarkup>.navbar-nav>a:hover{
    cursor: pointer;
}

#grid-main{
    display: flex;
    width: 1000px;
    flex-flow: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 1000px;
    padding: 20px;
    justify-content: flex-start;
    align-items: center;
    overflow-y:scroll;
}
#grid-sidebar{
    padding-top:20px;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 400px;
    min-height: 1000px;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding: 20px; */
    border:1px solid black;
    background-color:#f3f6c8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#grid-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-auto-flow: row;
    min-width: 400px;
    height: 120px;
    justify-content: space-evenly;
}
#grid-user-photo{
    display: flex;
    width: 120px;
    height: 120px;
    object-fit: scale-down;
    border:1px solid brown;
}
#grid-username{
    font-family: Poppins-Regular;
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 1px;
}
#grid-post{
    display: flex;
    color: white;
    min-width: 400px;
    height: 150px;
    justify-content: center;
    align-items: center;
}
#grid-post>a{
    display: flex;
    justify-self: stretch;
    flex-flow: column;
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 80px;
}
#grid-post>a>i{
    display: flex;
}
#grid-post>a>p{
    display: flex;
    margin: 0px;
}

#grid-friend{
    display: flex;
    flex-flow: column;
    min-width: 400px;
    height: 1000px;
    align-items: center;
    text-align: center;
}
#grid-friend>div>a{
    font-size: 0.8em;
}

#grid-advice{
    margin-top:30px;
    display: flex;
    flex-flow: column;
    width: 385px;
    height: 600px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ece493;
    border:5px solid grey;
}
#grid-advice>div>a{
    font-size: 0.8em;
}

/* The CSS on posting window */
.modal-title{
    color: black;
    text-align: center;
}

.modal-text{
    color: black;
    line-height: 28px;
    min-height: 25vh;
    min-width: 100%;
    text-align: start;
}
.modal-functions{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}
.modal-functions #imgfinder{
    display: flex;
    align-items: center;
}
.modal-functions .emoji-finder{
    display: flex;
    align-items: center;
}
#imgfinder{
    color: darkblue;
    text-underline-position: auto;
}
#imgfinder:hover{
    cursor: pointer;
}

.modal-footer{
    color: white;
}

.preview-panel{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}
.preview-title{
    display: flex; 
    padding: 16px;
    min-width: 90%;
    text-align: start;
}
#preview-area{
    display: none;
}
#preview-image{
    display: flex;
    width: 60%;
}
#preview-text{
    display: flex;
    width: 30%;
    min-height: 200px;
    justify-content: flex-start;
    align-items: flex-start;
}

/* The style of the posted items */
.element{
    display:flex;
    border: 3px ridge #d8bd8b;
    border-radius:10px;
    flex-flow:column;
    justify-content:space-evenly;
    align-items: center;
    width:750px;
    margin:30px 25px 30px 25px;
    background-color: ivory;
}
.title{
    display:flex;
    flex-flow:row;
    width:700px;
    margin:10px 25px 10px 25px;
    justify-content:space-evenly;
    align-items: center;
}
.person{
    display:flex;
    flex-flow: row;                        
}
.person-icon{
   display:flex;
    width:70px;
    height:70px;
}
.person-name{
    font-family: Poppins-Regular;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
}
.post-time{
    display:flex;
    font-size:10px;
    color:gray;
}
.content{
    display:flex;
    flex-flow:row;
    width:600px;
    margin:10px 25px 10px 25px;
}
.content > img{
    display:flex;
    width:60%;
}
.content > p{
    margin-left: 50px;
    display:flex;
}
.tail{
    display:flex;
    flex-flow:row;
    width:700px;
    height:50px;
    margin:10px 25px 10px 25px;
}
.like{
    display:flex;
    flex-flow:row;
    width:600px;
    justify-content:space-evenly;
    align-items:center;
}
.like-btn{
    display:flex;
    width:100px;
    height:50px;
    justify-content:space-evenly;
    align-items:center;
    border:5px solid gold;
    border-radius:5px;
}
.like-btn:hover{
    cursor: pointer;
    background-color: gold;
}
.comment-btn{
    display:flex;
    width:100px;
    height:50px;
    justify-content:space-evenly;
    align-items:center;
    border:5px solid skyblue;
    border-radius:5px;
}
.comment-btn:hover{
    cursor: pointer;
    background-color: skyblue;
}
.far.fa-thumbs-up{
    display:flex;
    font-size:20px;
    align-items:center;
}
.far.fa-comments{
    display:flex;
    font-size:20px;
    align-items:center;
}
.like-text{
    display:flex;
    font-size:20px;
    align-self:center;
    margin:10px 0px 10px 0px;
}
.comment-text{
    display:flex;
    font-size:20px;
    align-self:center;
    margin:10px 0px 10px 0px;
}
.like-info{
    display:flex;
    width:300px;
    align-items:center;
    justify-content:space-evenly;
}
.like-count{
    display:flex;
    font-size:15px;
    align-items:center;
}
.like-count + p{
    display:flex;             
    font-size:15px;
    align-items:center;
}

/* emoji adder styles */
.emoji-dropdown{
    display: flex;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-underline-position: auto;
    margin: 10px 0 10px 0;
}
.emoji-dropdown:hover{
    cursor: pointer;
}
.dropdown-menu{
    width: 30em;
}
.dropdown-menu:hover{
    cursor: pointer;
}
div.dropdown-row>a.dropdown-item{
    display:inline-block;
    width: 12%;
}

/* comment style */
.comment-list{
    display: flex;
    flex-flow: column;
    width: 750px;
    margin: 20px 0 20px 0;
    align-items: center;
}
.comment-element{
    display: flex;
    width: 700px;
    justify-content: flex-start;
    flex-flow: column;
    border: 2px dashed darkolivegreen;
}
.cmt-title{
    display: flex;
    width: 700px;
    justify-content: space-evenly;
    flex-flow: row;
    align-items: center;
}
.cmt-person{
    display: flex;
    width: 250px;
    font-size: 15px;
}
.cmt-time{
    display: flex;
    width: 450px;
    font-size: 10px;
    color: gray;
}
.cmt-body{
    display: flex;
    width: 600px;
    font-size: 15px
}
.friendlist-table{
    text-align: right;
}
.friendbtn{
    height:30px;
    width:150px;
    border-radius:10px;
    border:2px solid #046953;
}
#following-container{
    padding-top:5px;
    height:300px;
    width: 190px;
    display: flex;
    flex-direction: column;
    background-color: #ece493;
    overflow-y:scroll;
    align-items:center;
}
#follower-container{
    padding-top:5px;
    height:300px;
    width: 190px;
    display: flex;
    flex-direction: column;
    background-color: #ece493;
    overflow-y:scroll;
    align-items:center;
}
.su-container{
    height:200px;
    width:360px;
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.su-container img{
    height:100px;
    width:100px;
}
#suggests{
    margin-top:2%;
    padding-top:10px;
    width:375px;
    height:500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y:scroll;
}
.search-btn{
    height:25px;
    width:100px;
    border-radius:10px;
    border:2px solid #046953;
}

#friendlist{
    margin-top:30px;
    height:330px;
    width: 385px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border:5px solid grey;
}
.ng-binding{
    width:200px;
}
